version: '3.7'
services:
  jenkins:
    build:
      context: ./jenkins/docker
      dockerfile: Dockerfile
    image: jenkins-custom
    hostname: 'localhost'
    container_name: jenkins
    cpus: 0.0
    ports:
      - "8081:8080"
    volumes:
      - jenkins-data:/var/jenkins_home
    networks:
      - gitlab
  web:
    image: 'gitlab/gitlab-ce:15.5.4-ce.0'
    cpus: 0.0
    restart: always
    hostname: 'localhost'
    container_name: gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://web'
    ports:
      - '8080:80'
      - '8443:443'
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
      - ./provisioning/gitlab-rails-script.rb:/tmp/gitlab-rails-script.rb
      - ./provisioning/hooks:/opt/gitlab/embedded/service/gitlab-shell/hooks # install global server hooks
      - ./provisioning/gitlab-rails-script.rb:/tmp/gitlab-rails-script-after-ansible.rb
    shm_size: '256m'
    networks:
      - gitlab
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine-v15.5.2
    cpus: 0.0
    container_name: gitlab-runner    
    restart: always
    depends_on:
      web:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - './gitlab-runner:/etc/gitlab-runner'
    networks:
      - gitlab
volumes:
  jenkins-data:
networks:
  gitlab:
    name: gitlab-network
